version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - .env
    user: "${UID:-0}:${GID:-0}"
      
  worker:
    build: .
    command: celery -A config worker -l info
    depends_on:
      - redis
      - db
    env_file:
      - .env
    user: "${UID:-0}:${GID:-0}"
  db:
    image: postgres:14
    environment:
      POSTGRES_DB: emp_db
      POSTGRES_USER: "${POSTGRES_USER}"
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD}"

    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    env_file:
      - .env

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data:
